

  		<blockquote>
      <p>RESTful web services are built to work best on the Web</p>
      <footer>Get Users <a href="http://localhost/rest/api/users?key">http://localhost/SocialProject/api/users?key="key"</a></footer>
        </blockquote>


        	<blockquote>
      <p>RESTful web services are built to work best on the Web</p>
      <footer>Search  Users <a href="http://localhost/rest/api/searchuser/{user}/{key}">http://localhost/rest/api/searchuser/{user}/{key}</a></footer>
        </blockquote>

       
        <blockquote>
      <p>API End points</p>
      <footer> Online Trainings <a href="http://localhost/rest/api/trainings/{key}">http://localhost/rest/api/trainings/{key}</a> </footer>
        </blockquote>


   <blockquote>
      <p>API End points</p>
      <footer> Training Schedule <a href="http://localhost/rest/api/schedule/{key}">http://localhost/rest/api/schedule/{key}</a> </footer>
        </blockquote>

           <blockquote>
      <p>Building a RESTful Web Service</p>
      <footer> Search Trainings  <a href="http://localhost/rest/api/searchtraining/{training-name}/{key}">http://localhost/SocialProject/api/users/search/search?key="key"</a> </footer>
        </blockquote>